.rocket1 {
  display: flex;
  margin: 10px;
  margin-left: 70px;
}

.rocketlook {
  width: 280px;
}

.contentsA {
  padding-right: 50px;
  margin-left: 15px;
}

.Reservation-revoked {
  height: 35px;
  background-color: rgb(255, 255, 255);
  color: rgb(119, 119, 119);
  margin-top: 30px;
  border-radius: 8%;
  border: solid gray 2px;
}

.Reservation {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: solid #007bff 2px;
  height: 35px;
  margin-top: 30px;
  border-radius: 8%;
}

.rocketDesctext {
  font-size: large;
}

.reserved {
  background-color: #18a2b8;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.active {
  color: red;
}

.m-2 {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}

.Logo {
  width: 50px;
}
